 ---
import Airtable from 'airtable'

const {name} = Astro.params
console.log(name)



var base = new Airtable({apiKey: import.meta.env.AIRTABLE_API_KEY}).base('app6mZ3P1AY1kzLQ0');

let dinnerGuest = {}

function stringToColor(str) {
  // Generate a hash code from the input string
  let hash = 0;
  for (let i = 0; i < str.length; i++) {
    hash = str.charCodeAt(i) + ((hash << 5) - hash);
  }

  // Create a hexadecimal color code
  const color = '#' + ((hash & 0x00FFFFFF) | 0x990000).toString(16).slice(1);

  return color;
}



await new Promise((resolve, reject) => {
    try {
base('Guests').select({
    view: 'Grid view',
    maxRecords: 1,
    filterByFormula: `{First Name} = '${name}'`
}).firstPage(function(err, records) {
    try {
    if (err) { console.error(err); return; }
    dinnerGuest = records[0].fields
    resolve()
    } catch {}
});
    } catch {
        
    }
})

const pageIdentifier = dinnerGuest["Name"];
const pageColor = stringToColor(pageIdentifier) + "0";

---

<!DOCTYPE html>
<html>
<head>
<title>Harvest Dinner Guests</title>
</head>

<body style="background-color: {pageColor}">

<h1>Nice to meet you!</h1>
<p>Hello! My name is {dinnerGuest["Name"]} :) </p>
<p>You can contact me @</p>

<div class="bullets">
<ul class="list">

{dinnerGuest["Email address"] &&
<li><a href="{dinnerGuest["Email address"]}">{dinnerGuest["Email address"]}</a></li>
}
{dinnerGuest["LinkedIn"] &&
<li><a href="{dinnerGuest["LinkedIn"]}">LinkedIn</a></li>
}
{dinnerGuest["GitHub"] &&
<li><a href="{dinnerGuest["GitHub"]}">GitHub</a></li>
}
{dinnerGuest["Website"] &&
<li><a href="{dinnerGuest["Website"]}">Website</a></li>
}
</ul>
</div>
<p>Made with <3 by the harvesters</p>
</body>
<style>
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: 'Phantom Sans';
  font-size: 200%;
  text-align: center;
  margin: auto;
  font-color: #524b43;
  background-color: #FFEEC9;
}

ul.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

</style>
</html>